@{
    @model softcomputacion.Models.proveedor
}


<form class="validate-form" method="post" action="@Url.Action("GuardarModificarProveedor","Proveedor")" autocomplete="off">
    @Html.AntiForgeryToken()
    <span class="login100-form-title p-b-34">
        Proveedor
    </span>
    <input name="oProveedor.idProveedor" value="@Model.idProveedor" disabled class="dis-none">
    <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el proveedor">
        <input class="input100" type="text" name="oProveedor.nombreEmpresa" placeholder="Proveedor" value="@Model.nombreEmpresa">
    </div>
    <div class="wrap-input100 m-b-20">
        <input class="input100" type="text" name="oProveedor.telefono" placeholder="Teléfono" value="@Model.telefono">
    </div>
    <div class="wrap-input100 m-b-20">
        <input class="input100" type="text" name="oProveedor.otroContacto" placeholder="Otro contacto" value="@Model.otroContacto">
        
    </div>
    @*<div class="wrap-input100 validate-input m-b-20" data-validate="Contaco">
        <select class="form-control input100" style="border:0px; height: 55px;" id="exampleFormControlSelect1">
            <option>Categoria 1</option>
            <option>Categoria 2</option>
            <option>Categoria 3</option>
            <option>Categoria 4</option>
            <option>Categoria 5</option>
        </select>
    </div>*@


    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            Guardar
        </button>
    </div>
</form>