
@{
    ViewBag.Title = "ListaProveedores";
    Layout = "~/Views/Shared/_UsuarioLogueado.cshtml";
    List<softcomputacion.Models.proveedor> lstProveedor = (List<softcomputacion.Models.proveedor>)ViewBag.lstProveedores;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryFormPopup" }))
{
    @Html.AntiForgeryToken()
}
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Proveedores</h2>
        </div>
    </div>
    <hr style="border-top: 2px solid #b5262a;" />
    <br />
    <div class="row">
        <!--Busqueda proveedores-->
        <div class="col-12 col-lg-8">
            <div class="col-12">
                <form method="post" action="@Url.Action("ListaProveedores", "Proveedor")" autocomplete="off">
                    <div class="row">
                        <div class="col-12 col-sm-10">
                            <div class="wrap-input100 m-b-20">
                                <input class="input100" type="text" name="nombreEmpresa" placeholder="Buscar...">
                            </div>
                        </div>
                        <div class="col-12 col-sm-2">
                            <div class="container-login100-form-btn m-b-20">
                                <button class="login100-form-btn fs-22" style="height:56px;" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Lista de proveedores-->
            <div class="m-b-15">
                @foreach (softcomputacion.Models.proveedor oProveedor in lstProveedor)
                {
                    <div id="div-@oProveedor.idProveedor" class="row item-tabla">
                        <div class="col-12 col-md-9">
                            <div class="row">
                                <div class="col-12 col-md-7">
                                    <span class="login100-form-title p-b-10">
                                        @oProveedor.nombreEmpresa
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 text-center">
                                    <span class="p-b-10">
                                        Tel: @oProveedor.telefono
                                    </span>
                                </div>
                                <div class="col-12">
                                    <span class="login100-form-title p-b-10 fs-13">
                                        @oProveedor.otroContacto
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="btn-group w-full" role="group">
                                <button type="button" class="btn btn-outline-dark" style="width:50%" onclick="ModificarProveedor(@oProveedor.idProveedor, '@oProveedor.nombreEmpresa', '@oProveedor.telefono', '@oProveedor.otroContacto')"><i class="fas fa-pen"></i></button>
                                <button type="button" class="btn btn-outline-danger" style="width:50%" onclick="EliminarProveedor(@oProveedor.idProveedor)"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="div-frmProveedor" class="col-12 col-lg-4">
            @*@Html.Partial("_frmProveedor", new softcomputacion.Models.proveedor())*@
        </div>
    </div>
</div>

@section scripts{
<script>
    $(document).ready(function () {
        ModificarProveedor(0);
    });



    function EliminarProveedor(idProveedor) {
        swal({
            title: "¿Estás seguro?",
            text: "¿Estás seguro que deseas eliminar el proveedor?. Una vez eliminado no se podrá recuperar!",
            type: "warning",
            dangerMode: true,
            showCancelButton: true,
            confirmButtonClass: "btn-outline-primary",
            confirmButtonText: "Aceptar",
            cancelButtonClass: "btn-outline-dark",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    //eliminar
                    LlamarControladorEliminarProveedor(idProveedor)
                } else {
                    swal("Cancelado", "", "error");
                }
            });

    }

    function LlamarControladorEliminarProveedor(idProveedor) {
        var url = "@Url.Action("EliminarProveedor", "Proveedor")";
        var token = $('input[name="__RequestVerificationToken"]').val();
        var data = { idProveedor: idProveedor, __RequestVerificationToken: token };
        $.post(url, data).done(function (data) {
            if (data == "True") {
                $('#div-' + idProveedor).remove();
                swal("Exito!", "El proveedor ha sido eliminado.", "success");
            }
            else {
                swal("Ocurrió un error", "Se produjo un error al intentar eliminar el proveedor.", "error");
            }
        });
    }

    function ModificarProveedor(idProveedor, nombreEmpresa, telefono, otroContacto) {

        var url = "@Url.Action("_frmProveedor", "Proveedor")";
        var data = { 'oProveedor.idProveedor': idProveedor, 'oProveedor.nombreEmpresa': nombreEmpresa, 'oProveedor.telefono': telefono, 'oProveedor.otroContacto': otroContacto };
        $.post(url, data).done(function (data) {
            if (data.length > 0) {
                $('#div-frmProveedor').html(data);
            }
        });
    }


</script>
}