@{
    ViewBag.Title = "Listar Productos";
    Layout = "~/Views/Shared/_UsuarioLogueado.cshtml";
    List<softcomputacion.Models.categoria> lstCategorias = (List<softcomputacion.Models.categoria>)ViewBag.lstCategorias;
    List<softcomputacion.Models.estado> lstEstados = (List<softcomputacion.Models.estado>)ViewBag.lstEstados;
    string[] filtros = ViewBag.filtros.Split(';');
    string stColorStock = "";
    softcomputacion.Models.usuario oUsuario = (softcomputacion.Models.usuario)Session["Usuario"];
}


@model PagedList.IPagedList<softcomputacion.Models.producto>
@using PagedList.Mvc;

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryFormPopup" }))
{
    @Html.AntiForgeryToken()
}

<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Productos</h2>
        </div>
    </div>
    <hr style="border-top: 2px solid #b5262a;" />
    <br />
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-lg-11">
                    @* Form de busqueda *@

                    <form method="post" action="@Url.Action("ListarProducto", "Producto")" autocomplete="off">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="wrap-input100 m-b-20">
                                    <input class="input100" type="text" name="nombreProducto" placeholder="Nombre del producto" value="@filtros[0]">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                <div class="wrap-input100 ¡ m-b-20" data-validate="">
                                    <select id="select-Categorias" onchange="CargarComboSubcategoria()" onload="CargarComboSubcategoria()" class="form-control input100" style="border:0px; height: 55px;" name="idCategoria">
                                        @if (filtros[1] == "0" || filtros[1] == "")
                                        {
                                            <option selected value="0">Categoría</option>
                                        }
                                        else
                                        {
                                            <option value="0">Categoría</option>
                                        }

                                        @foreach (softcomputacion.Models.categoria oCategoria in lstCategorias)
                                        {
                                            if (oCategoria.idCategoria.ToString() == filtros[1])
                                            {
                                                <option selected value="@oCategoria.idCategoria">@oCategoria.nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@oCategoria.idCategoria">@oCategoria.nombre</option>
                                            }

                                        }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                <div class="wrap-input100 ¡ m-b-20" data-validate="">
                                    <select disabled id="select-Subcategoria" class="form-control input100" style="border:0px; height: 55px;" name="idSubCategoria">
                                        <option selected value="0">Subcategoria</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                <div class="wrap-input100 ¡ m-b-20" data-validate="">
                                    <select id="select-Estado" class="form-control input100" style="border:0px; height: 55px;" name="idEstado">
                                        @if (filtros[3] == "0" || filtros[3] == "")
                                        {
                                            <option selected value="0">Estado</option>
                                        }
                                        else
                                        {
                                            <option value="0">Estado</option>
                                        }

                                        @foreach (softcomputacion.Models.estado oEstado in lstEstados)
                                        {
                                            if (oEstado.idEstado.ToString() == filtros[3])
                                            {
                                                <option selected value="@oEstado.idEstado">@oEstado.nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@oEstado.idEstado">@oEstado.nombre</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-2">
                                <div class="container-login100-form-btn m-b-20">
                                    <button class="login100-form-btn fs-22" style="height:56px;" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                @if (oUsuario.idTipoUsuario == 2)
                {
                    <div class="col-12 col-md-12 col-lg-1">
                        <div class="container-login100-form-btn m-b-20">
                            <button class="btn fs-22 btn-dark w-full" style="height:56px;" onclick="location.href='@Url.Action("Producto","Producto")'">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
            
           
            
            <hr style="border-top: 1px solid #b5262a;" />
            <br />
        </div>
        <div class="row container-fluid">
            <!--Lista de Productos-->
            <div class="m-b-15 col-12 col-lg-12">
                @{

                    foreach (var oProducto in Model)
                    {

                        stColorStock = softcomputacion.Servicios.srvEstado.ObtenerColorEstado(oProducto.idEstado);

                        <div id="div-@oProducto.idProducto" class="row item-tabla m-b-15" >
                            <div class="col-12 col-md-11 " style="text-align:left;">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-5">
                                        <p class="login100-form-title p-b-10 fs-17 text-center" >
                                            <strong>Producto:</strong>
                                            <span id="spanNombreProducto-@oProducto.idProducto">
                                                <i>@oProducto.categoria.nombre @oProducto.subcategoria.nombre - @oProducto.nombre</i>
                                            </span>
                                        </p>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-3">
                                        <p class="login100-form-title p-b-10 fs-17 text-center">
                                            <strong>Stock Actual:</strong>
                                            <span id="spanActual-@oProducto.idProducto">
                                                <i>@oProducto.stockActual</i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <p class="login100-form-title p-b-10 fs-17 text-center">
                                            <span class="badge fs-20" style="color: @stColorStock; width: 180px;">@oProducto.estado.nombre</span>
                                        </p>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-3">
                                        <p class="login100-form-title p-b-10 fs-17 text-center" >
                                            
                                            @if (oUsuario.idTipoUsuario == 2)
                                            {
                                                <strong> Costo: </strong>
                                                <input id="inpCosto-@oProducto.idProducto" style="background-color:#f2f2f2;text-align:right; width:75px;" type="number" name="precioCosto" placeholder="Precio costo" value="@Convert.ToInt32(oProducto.precioCosto)">
                                                <span onclick="ActualizarPrecios(@oProducto.idProducto)" class="far fa-save" style="cursor:pointer"></span>
                                            }
                                    
                                        </p>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-3">
                                        <p class="login100-form-title p-b-10 fs-17 text-center" >
                                            
                                            @if (oUsuario.idTipoUsuario == 1)
                                            {
                                                <strong>Gremio: @oProducto.precioGremio.ToString().TrimEnd('0').TrimEnd(',')</strong>
                                            }
                                            else
                                            {
                                                <strong>Gremio</strong>
                                                <input id="inpGremio-@oProducto.idProducto" style="background-color:#f2f2f2;text-align:right; width:75px;" type="number" name="precioGremio" placeholder="Precio gremio" value="@Convert.ToInt32(oProducto.precioGremio)">
                                                <span onclick="ActualizarPrecios(@oProducto.idProducto)" class="far fa-save" style="cursor:pointer"></span>
                                            }
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <p class="login100-form-title p-b-10 fs-17 text-center" >
                                            
                                            @if (oUsuario.idTipoUsuario == 1)
                                            {
                                                <strong>Contado: @oProducto.precioContado.ToString().TrimEnd('0').TrimEnd(',')</strong>
                                            }
                                            else
                                            {
                                                <strong>Contado</strong>
                                                <input id="inpContado-@oProducto.idProducto" style="background-color:#f2f2f2;text-align:right; width:75px;" type="number" name="precioContado" placeholder="Precio contado" value="@Convert.ToInt32(@oProducto.precioContado)">
                                                <span onclick="ActualizarPrecios(@oProducto.idProducto)" class="far fa-save" style="cursor:pointer"></span>
                                            }
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <p class="login100-form-title p-b-10 fs-17 text-center">
                                            
                                            @if (oUsuario.idTipoUsuario == 1)
                                            {
                                                <strong>Lista: @oProducto.precioLista.ToString().TrimEnd('0').TrimEnd(',')</strong>
                                            }
                                            else
                                            {
                                                <strong>Lista</strong>
                                                <input id="inpLista-@oProducto.idProducto" style="background-color:#f2f2f2; text-align:right; width:75px;" type="number" name="precioContado" placeholder="Precio lista" value="@Convert.ToInt32(oProducto.precioLista)">
                                                <span onclick="ActualizarPrecios(@oProducto.idProducto)" class="far fa-save" style="cursor:pointer"></span>
                                            }
                                        </p>
                                    </div>


                                </div>
                            </div>
                            @if (oUsuario.idTipoUsuario == 2)
                            {
                                <div class="col-12 col-md-1">
                                    <form method="post" action="@Url.Action("Producto", "Producto", new { idProducto = oProducto.idProducto })">
                                        @Html.AntiForgeryToken()
                                        <div class="btn-group w-full" role="group">
                                            <button type="submit" class="btn btn-outline-dark" style="width:100%"><i class="fas fa-pen"></i></button>
                                        </div>
                                    </form>
                                </div>
                            }
                            else
                            {                                
                                <div class="col-12 col-md-1">
                                    <form method="post" action="@Url.Action("VistaProducto", "Producto", new { idProducto = oProducto.idProducto })">
                                        @Html.AntiForgeryToken()
                                        <div class="btn-group w-full" role="group">
                                            <button type="submit" class="btn btn-outline-dark" style="width:100%"><i class="fas fa-list-alt"></i></button>
                                        </div>
                                    </form>
                                </div>
                            }
                        </div>
                    }
                }
            </div></div><div class="row container-fluid text-center">
            <div id="div-paginacion" class="col-12">
                @Html.PagedListPager(Model, nroPagina => Url.Action("ListarProducto", "Producto", new { nroPagina, tamañoPagina = Model.PageSize }), new PagedListRenderOptions() { ClassToApplyToFirstListItemInPager = null, ClassToApplyToLastListItemInPager = null, UlElementClasses = new[] { "pagination", "justify-content-center" }, LiElementClasses = new[] { "page-item" } })
            </div>
            <div class="col-12">
                @Model.FirstItemOnPage a @Model.LastItemOnPage productos de un total de @Model.TotalItemCount Productos.
            </div>
            
            

        </div>
    </div>
</div>

@section scripts{
<script>

     function CargarComboSubcategoria() {
        var url = "@Url.Action("ObtenerSubcategoriaDeCategoria", "Producto")";
        var idCategoria = document.getElementById("select-Categorias").value;
        var data = { idCategoria: idCategoria };
        $.post(url, data).done(function (data) {
            if (data == "<option selected value=\"0\">Subcategoria</option>" | data == "") {
                document.getElementById("select-Subcategoria").innerHTML = "<option selected value=\"0\">Subcategoria</option>";
                document.getElementById("select-Subcategoria").setAttribute("disabled", "true");
            }
            else {
                document.getElementById("select-Subcategoria").innerHTML = data + "";
                document.getElementById("select-Subcategoria").removeAttribute("disabled");
            }
            if ('@filtros[2].ToString()' != "0" || filtros[2].ToString() != "") {
                $("#select-Subcategoria option[value=" + '@filtros[2].ToString()' + "]").attr("selected", true);
            }
        });
    }

     window.onload = CargarComboSubcategoria;


     function ActualizarPrecios(idProducto) {
         var costo = $('#inpCosto-' + idProducto).val();
         var gremio = $('#inpGremio-' + idProducto).val();
         var contado = $('#inpContado-' + idProducto).val();
         var lista = $('#inpLista-' + idProducto).val();
         var url = "@Url.Action("ActualizarPrecios", "Producto")";
         var token = $('input[name="__RequestVerificationToken"]').val();
         var data = { costo: costo, gremio: gremio, contado: contado, lista: lista, idProducto: idProducto, __RequestVerificationToken: token };
         $.post(url, data).done(function (data) {
            if (data == "True") {
                swal("Exito!", "Los precios han sido actualizados.", "success");
            }
            else {
                swal("Ocurrió un error", "Se produjo un error al intentar actualizar los precios..", "error");
            }
        });
     }

</script>
}
