@{ 
    softcomputacion.Models.usuario oUsuario = (softcomputacion.Models.usuario)Session["Usuario"];
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftComputacion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body style="background-color:#f2f2f2;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="box-shadow: 3px 3px 4px rgba(0,0,0,.2)" >
        <div class="container-fluid">
            <a class="navbar-brand m-l-0 p-t-0 p-b-0 m-r-0 fs-22" href="@Url.Action("ListarProducto","Producto")"><img class="img-fluid" src="~/Content/images/softcomputacion_icono_white.png" style="width:45px" />SoftComputación</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <form class="form-inline mr-auto" ></form>
                <form method="post" action="@Url.Action("VistaProducto", "Producto")" target="_blank" autocomplete="off">
                    @Html.AntiForgeryToken()
                    <div class="input-group " style="margin-bottom:0px !important">
                        <input class="form-control mr-sm-2 ml-sm-1 mt-10 w-full" type="search" placeholder="Código producto" name="idProducto" id="inpCodigoProducto" aria-label="Código producto">
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger w-full" type="submit"><i class="fas fa-search"></i> Buscar</button>
                        </div>
                    </div>
                </form>
                <div class="dropdown show pull-right" style="text-align:-webkit-center;">

                    <button class="nav-link p-t-0 p-b-0 fs-22 dropdown-toggle" style="color:#dedede" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@oUsuario.nombre</button>

                    <div class="dropdown-menu dropdown-menu-right dropdown-usuario" aria-labelledby="dropdownMenuLink">
                        @if (oUsuario.idTipoUsuario == 2)
                            {   <a class="nav-link dropdown-usuario-item fs-18" href="@Url.Action("ListarUsuario","Usuario",null)"><i class="fas fa-user"></i>&nbsp;&nbsp; Usuarios</a>
                                <a class="nav-link dropdown-usuario-item fs-18" href="@Url.Action("ListaProveedores","Proveedor")"><i class="far fa-address-book"></i>&nbsp;&nbsp; Proveedores</a>
                            } 
                        <a class="nav-link dropdown-usuario-item fs-18" href="@Url.Action("ListarProducto","Producto",null)"><i class="fas fa-warehouse"></i>&nbsp;&nbsp; Productos</a>
                        <a class="nav-link dropdown-usuario-item fs-18" href="@Url.Action("CerrarSession","Home")" style="background-color: #e8e8e8;"><i class="fas fa-power-off"></i>&nbsp;&nbsp; Salir</a>

                    </div>
                </div>

            </div>

        </div>
    </nav>
    <br /><br />
    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
